
	<div class='post col-md-4 col-sm-6'>
		<article class="panel panel-default">
		  <header class="panel-heading">
		    <h3 class="panel-title"><%= post.title %></h3>
		  </header>
		  <section class="panel-body">
		    <% if post.picture.present? %>
						<%= image_tag post.picture.url(:medium), class: 'uploaded_image' %>
			<% end %>
		  </section>
		  <footer id='tag-container'>
						<% post.tags.each do |tag| %>
							<%= link_to tag.text, tag_path(tag.text), class: 'tag'%>
						<% end %>
		  </footer>
			<h5><em>Posted <%= time_ago_in_words(post.created_at) %> ago</em></h5>
		</article>
	</div>
